# Файлы скомпилированного кода
*.class

# Каталоги сборки
/bin/
/build/
/out/
target/

# Файлы настроек IntelliJ IDEA
.idea/
*.iml

# Логи и временные файлы
*.log
*.tmp

# Файлы операционной системы
.DS_Store
Thumbs.db
